@font-face {
    font-family: "ACP";
    src: url("AcPlus_ToshibaTxL1_8x16.ttf") format("truetype");
}

p {
    font-family: "Goudy Bookletter 1911";
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Stardos Stencil";
    color: white;
    text-shadow: 1px 2px #444444, 2px 4px #ff6400;
}

a {
    color: #ff6400;
    text-decoration: none;
}

::selection {
    background-color: #ff6400;
}

body {
    image-rendering: pixelated;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
}

body:has(.navel:hover) {
    .bgAmb, .bgAmbText {
        translate: -3% 0%;
    }
    .bg, .bg1, .bg2 {
        translate: 3% 0%;
    }
}

.nbwrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    margin-top: 10px;
    background-color: #444444;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;
}

.navbar::before {
    content: "";

    position: absolute;
    background-color: #ff6400;
    margin-top: -2px;
    opacity: 0;
    z-index: -3;
    width: 100vw;
    height: 36px;
    display: flex;
    justify-content: center;
    rotate: 0deg;
    gap: 20px;
    transition: opacity 0.2s, rotate 0.5s;
}

.navbar:hover::before {
    opacity: 1;
    rotate: -1deg;
}

.navbar::after {
    content: "";
    position: absolute;
    margin-top: -5px;
    background-color: #ffffff;
    opacity: 0;
    z-index: -9;
    width: 100vw;
    height: 10px;
    display: flex;
    justify-content: center;
    rotate: 0deg;
    gap: 20px;
    transition: opacity 0.2s, rotate 0.5s;
}

.navbar:hover::after {
    opacity: 1;
    rotate: -1.5deg;
}

.navel, .navel a {
    font-size: 24px;
    font-family: "ACP";
    text-decoration: none;
    width: 100px;
    color: white;
    text-align: center;
    padding: 6px;
    cursor: pointer;
}

.navel:hover {
    text-shadow: 1px 2px BLACK, 2px 4px #ff6400;
}

.mainBox {
    width: 90%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px inset #ff6400;
    outline: 2px outset #ff6400;
    height: 90vh;
    top: 5vh;
    z-index: 4;
}

.digitalTormentBg {
    border: 4px solid black;
    outline: 2px solid #ff6400;
    height: 100vh;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
    
    clip-path: polygon(100% 5%, 50% 5%, 50% 100%, 100% 100%);
}

.secondaryBg {
    height: 102vh;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    width: 100%;
    clip-path: polygon(0 5%, 50% 5%, 50% 100%, 0 100%);
}


.bgAmb {
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    background: url(secondary.png);
    background-size: contain;
    background-position: bottom;
    translate: 0% 0%;
    transition: translate 2s;
}

.bgAmbText {
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    background: url(fellnohunger.svg);
    background-size: 3%;
    rotate: 2deg;
    opacity: 0.5;
    background-position: bottom;
    translate: 0% 0%;
    transition: translate 4s;
}

.bg {
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    background: url(digital.png);
    background-position: bottom;
    translate: 0% 0%;
    transition: translate 2s;
}

.bg1 {
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    background: url(digitaltorment.svg);
    background-position: bottom;
    rotate: 2deg;
    z-index: 2;
    opacity: 0.9;
    translate: 0% 0%;
    transition: translate 3s;
}

.bg2 {
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    background: url(digitaltorment.svg);
    background-position: bottom;
    rotate: -2deg;
    opacity: 0.5;
    background-size: 3%;
    z-index: 2;
    translate: 0% 0%;
    transition: translate 4s;
}

.title {
    text-align: center;
    color: white;
    font-size: 80px;
    font-family: "ACP";
    z-index: 9;
    user-select: none;
    transform: rotate3d(1, 0, 0, 45deg);
    rotate: 2.5deg;
    text-shadow: 2px 4px BLACK, 4px 8px #ff6400;
    margin-top: 1vh;
}


.tnn {
    width: 110%;
    rotate: -2.5deg;
    background-color: #212121;

    
}

.parallellines {
    display: flex;
    position: relative;
    width: 100vw;
    height: 102vh;

    z-index: 9;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.parallellines p {
    color: white;
    text-shadow: 1px 2px BLACK;
}

.parallellines p::selection {
    color: white;
    background-color: #ff6400;
}

.page {
    width: 60vw;
    height: 100%;
    padding: 40px;
    margin-top: -30px;
    background-color: #212121;
    overflow-y: scroll;
    scrollbar-width: none;
}

#hYt, #hBsky, #hBnd {
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 5px;
}

#hYt:hover, #hBsky:hover, #hBnd:hover {
    background-color: #212121;
}

#hYt::before {
    content: "";
    background-image: url(icons/youtube.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

#hBsky::before {
    content: "";
    background-image: url(icons/bluesky.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

#hBnd::before {
    content: "";
    background-image: url(icons/bandcamp.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: #3a3a3a;
    padding: 20px;
}
