@media (max-width: 680px) {

    body {
        overflow: hidden;
    }

    .tnn {
        background-color: transparent;
        rotate: 0deg;
    }

    .title {
        rotate: 0deg;
    }

    .digitalTormentBg {
        border: 4px solid black;
        outline: 2px solid #ff6400;
        height: 100vh;
        opacity: 1;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        width: 100%;
        clip-path: polygon(100% 0%, 50% 0%, 50% 100%, 100% 100%);
    }

    .secondaryBg {
        height: 102vh;
        opacity: 1;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        width: 100%;
        clip-path: polygon(0 0%, 50% 0%, 50% 100%, 0 100%);
    }

    .page {
        width: 100vw;
    }

    .pagewrapper {
        margin: 20px;
    }

}