.player {
    display: flex;
    align-items: center;
    background: #393939;
    border: 1px solid #ff6400;
    border-radius: 2px;
    padding: 5px;
    gap: 20px;
}

.playerTitle {
    font-family: monospace;
    color: white;
    text-shadow: black 1px 2px;
    flex: 2;
}

.playerProgress {
    flex: 8;
    height: 12px;
    border-radius: 2px;
    background-color: #717171;
}

.playerProgressCurrent {
    position: relative;
    width: 1%;
    flex: 8;
    height: 12px;
    border-radius: 2px;
    background-color: #ff6400;
}
.playerProgressCurrent::after {
    content: "";
    position: relative;
    display: block;
    height: 100%;
    aspect-ratio: 1;
    scale: 1.3;
    background-color: #a3a3a3;
    border-radius: 50px;
    justify-self: center;
    margin-left: 100%;
}

.playerVolProgress {
    flex: 1;
    height: 12px;
    border-radius: 2px;
    background-color: #717171;
}

.playerButton {
    background-image: url(icons/play.svg);
    width: 15px;
    height: 19px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.playerButton.pause {
    background-image: url(icons/pause.svg);
}

