.player {
    display: flex;
    align-items: center;
    background: #686868;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
    gap: 20px;
}


.playerTitle a {
    font-family: "PT Mono", monospace;
    color: white;
    text-shadow: black 1px 1px;
    text-transform: uppercase;
    flex: 2;
}

.playerTitle a:hover {
    background-color: #ff6400;
}

.playerProgress {
    flex: 8;
    height: 12px;
    border-radius: 2px;
    background-color: #717171;
}

.playerProgressCurrent {
    position: relative;
    width: 1%;
    flex: 8;
    height: 12px;
    border-radius: 2px;
    background-color: #ff6400;
}
.playerProgressCurrent::after {
    content: "";
    position: relative;
    display: block;
    height: 100%;
    aspect-ratio: 1;
    scale: 1.3;
    background-color: #7d7d7d;
    border-radius: 50px;
    justify-self: center;
    margin-left: 100%;
}

.playerVolProgress {
    flex: 1;
    height: 12px;
    border-radius: 2px;
    background-color: #717171;
}

.playerButton {
    background-image: url(icons/play.svg);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 3px;
    display: flex;
}


.playerButton.pause {
    background-image: url(icons/pause.svg);
}

